<div id="features" class="site-hero clearfix">
  <div class="container form-container">
    <%= flash[:notice] %>
    <%= form_for @command, html: {class: 'contact-form form-border'} do |f| %>
        <div class="form-group">
          <%= f.label :example %>
          <%= f.text_field :example, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :descrption %>
          <%= f.text_area :description, class: 'form-control', size: '24x3' %>
        </div>
        <div class="text-right">
          <%= f.submit 'Create example', class: 'btn btn-custom btn-lg' %>
        </div>
    <% end %>
  </div>
</div>